.flag{
    /* width: 60px; */
    height: 25px;    
    border-radius: 20%;
}

.driver-card{
    border-top: 3px solid black;
    border-top-right-radius: 10px;
    border-right: 3px solid black;
    margin: 20px 20px 20px 0px;
    padding: 0 10px 0 10px;
}

.driver-card-wrapper{
    padding: 0 20px 0 20px;
}