.flag{
    height: 35px;
    width: auto;
    min-width: 25px;
    max-width: 50px;
    object-fit: contain;
    border-radius: 20%;
}

.driver-card{
    border-top: 3px solid black;
    border-top-right-radius: 15px;
    border-right: 3px solid black;
    margin: 10px 0px;
    padding: 0 10px 0 10px;
    width: 100%;
    min-width: 200px;
    transition: transform 0.3s ease-in-out;
}

.driver-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}


.driver-card-wrapper{
    padding: 0 10px 0 10px;
    margin-top: 1.75rem;
}

